## 판다스 데이터 구조

### 시리즈
인덱스를 가진 1차원 배열

In [83]:
import pandas as pd

In [84]:
sd1 = pd.Series(['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'],
               index = [1,2,6,4,5]) # 문자도 가능

In [85]:
sd1

1       Dog
2       Cat
6     Tiger
4      Lion
5    Monkey
dtype: object

### 딕셔너리 -> 시리즈로

In [86]:
dict_data = {'a' : 1, 'b' : 2, 'c' : 3}
series_data = pd.Series(dict_data)
series_data

a    1
b    2
c    3
dtype: int64

### 리스트 =>  시리즈

In [87]:
list_data = ['Dog', 'Cat', 'TIger']

series_list_data = pd.Series(list_data,
                             index = ['ㄱ','2','3'])
series_list_data

ㄱ      Dog
2      Cat
3    TIger
dtype: object

### 튜플 => 시리즈

In [88]:
tuple_data = ('이순신', '1991-03-15', '남자')
tuple_data

('이순신', '1991-03-15', '남자')

In [89]:
col_name_list = ['이름', '년도', '성별']
series_tuple_data = pd.Series(tuple_data,
                             index = col_name_list)
series_tuple_data

이름           이순신
년도    1991-03-15
성별            남자
dtype: object

### 딕셔너리 => 데이터프레임

In [90]:
animal_df = {'동물' : ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'],
                    '나이' : [7, 9, 2, 3, 1]}
animal_df

{'동물': ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], '나이': [7, 9, 2, 3, 1]}

In [91]:
animal_df1 = pd.DataFrame(animal_df)
animal_df1

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

### 리스트 => 데이터프레임

In [92]:
list_data = [['Dog', 7], ['Cat', 9], ['Tiger', 2], ['Lion', 3], ['Monkey', 1]]
list_data

[['Dog', 7], ['Cat', 9], ['Tiger', 2], ['Lion', 3], ['Monkey', 1]]

In [93]:
list_data_df = pd.DataFrame(list_data,
                            columns = ['동물', '나이'],
                            index = [1,2,3,4,5])
print(list_data_df)
print(type(list_data_df))
print(list_data_df.dtypes)

       동물  나이
1     Dog   7
2     Cat   9
3   Tiger   2
4    Lion   3
5  Monkey   1
<class 'pandas.core.frame.DataFrame'>
동물    object
나이     int64
dtype: object

### 비어있는 데이터 프레임 만들기

In [94]:
df_null = pd.DataFrame()
df_null

Empty DataFrame
Columns: []
Index: []

In [96]:
df_null['동물'] = 'Dog'
df_null

Empty DataFrame
Columns: [동물]
Index: []