# 관광객 데이터 전처리
### 데이터 불러오기

In [1]:
import pandas as pd
import itertools as ite
import openpyxl

In [18]:
# 자동화

# kto_2019.xslx 파일 불러오기
# - 컬럼명과 컬럼에 대한 데이터만 불러오기
# 미리 파일을 열어봐서 가지고 있는 데이터 형태가 같다는걸 확인함
path = './files/kto_201901.xlsx'
kto_201901 = pd.read_excel(path, header = 1,
              skipfooter = 4,  # 아래에서 행 제거
              usecols = 'A:G') # 읽어들일 컬럼 선택

In [19]:
# 기본 정보 확인하기
kto_201901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [34]:
kto_201901.describe()
# kto_201901.agg([sum])

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [65]:
# min 이 0인게 좀 잇네 확인해야지
condition = (kto_201901['관광'] == 0)\
           | (kto_201901['상용'] == 0)\
           | (kto_201901['공용']== 0)\
           | (kto_201901['유학/연수']== 0)
kto_201901[condition]
# 교포소계랑 교포가0이네 이게뭔고 하니
# 교포는 국가가 아니라서 기타에 올인했다 카더라 그럼 결측치는 아니네

        국적    관광   상용  공용  유학/연수     기타      계
4      마카오  2506    2   0     17     45   2570
20    이스라엘   727   12   0      9     57    805
22  우즈베키스탄  1958  561   0    407   2828   5754
38     스위스   613   18   0     19     97    747
45     그리스   481   17   4      0    273    775
46    포르투갈   416   14   0     13    121    564
51   크로아티아   226   12   0      3    250    491
54     폴란드   713   10   0     27    574   1324
59  대양주 기타   555    3   4      0     52    614
63    기타대륙    33    4   0      1     16     54
64    국적미상    33    4   0      1     16     54
65    교포소계     0    0   0      0  15526  15526
66      교포     0    0   0      0  15526  15526

In [67]:
# 자동화

# 파일명에는 년월이 있는데 파일 안쪽만 보면 모르겟네
# 다른 파일과 합칠 수도 있느이 날짜 컬럼을 넣어주자
# 컬럼명 : 기준년월
# 값 : 2019-01

kto_201901['기준년월'] = '2019-01'
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [78]:
# 데이터 걸러내기
# 아시아주, 아프리카주 같이 국가가 아닌 대륙별로 나뉜게 같이 들어 있다.
# 국가가 어느대륙에 들어있는지도 쓸모있지만 지금은 걸러내야한다
# 어떤 패턴으로 데이터가 들어있는지 확인
# 국적 컬럼의 값을 조회하고 고유한 값들만 출력
kto_201901['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [80]:
# 자동화

# 대륙의 값들을 관리하는 목록 만들기 : 기준이 없기 때문에 기준을 만들어 줍니다.
continents_list = ['아시아주', '미주', '대양주', '구주',
                   '아프리카주', '기타대륙', '교포소계']
continents_list

['아시아주', '미주', '대양주', '구주', '아프리카주', '기타대륙', '교포소계']

In [94]:
# 자동화

# 국적 데이터에서 대륙 기준값이 포함되어 있는지 확인
# 사용함수 isin()
kto_201901_contry = kto_201901[kto_201901['국적'].isin(continents_list) == False]

In [104]:
# 자동화

# 지울꺼 지웠으니 인덱스 번호 재배열 하기
# 재배열 후 kto_201901_contry_newindex 변수에 저장하기
kto_201901_contry_newindex = kto_201901_contry.reset_index(drop = True)
kto_201901_contry_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [106]:
# 대륙 컬럼을 각 국가별로 적어서 만들것
# 아시아주 25개, 미주 5개, 구주 23개, 대양주 3개, 아프리카 2개, 교포 1개
print(len(kto_201901_contry_newindex)) # 60개의 데이터를 가지고 있음

60

In [110]:
# 자동화

# 아시아(25) 아메리카(5) 유럽(23) 오세아니아(3) 아프리카(2) 기타대륙(국적미상 1) 교포(1)
# 위 데이터를 알고 있으니 미리 새 컬럼에 추가할 리스트 생성
continents = ['아시아'] * 25 + ['아메리카'] * 5 \
+ ['유럽'] * 23 + ['오세아니아'] * 3 + ['아프리카'] * 2 + ['기타대륙'] + ['교포']
continents

['아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '오세아니아',
 '오세아니아',
 '오세아니아',
 '아프리카',
 '아프리카',
 '기타대륙',
 '교포']

In [113]:
kto_201901_contry_newindex['대륙'] = continents
kto_201901_contry_newindex.head()
kto_201901_contry_newindex.tail()

          국적   관광   상용  공용  유학/연수     기타      계     기준년월     대륙
55    대양주 기타  555    3   4      0     52    614  2019-01  오세아니아
56  남아프리카공화국  368    9   1      6    616   1000  2019-01   아프리카
57   아프리카 기타  768  718  90    206    908   2690  2019-01   아프리카
58      국적미상   33    4   0      1     16     54  2019-01   기타대륙
59        교포    0    0   0      0  15526  15526  2019-01     교포

In [114]:
# 이상데이터였던 대륙을 빼고 아까워서 살리고
# 결측치도 없고 이제 뭐하지?
kto_201901_contry_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  198805  2233   127    785   4576  206526  2019-01    아시아
1         대만   86393    74    22    180   1285   87954  2019-01    아시아
2         홍콩   34653    59     2     90   1092   35896  2019-01    아시아
3        마카오    2506     2     0     17     45    2570  2019-01    아시아
4         태국   34004    37   199     96   6998   41334  2019-01    아시아
5      말레이시아   19043    95     7     99   2821   22065  2019-01    아시아
6        필리핀   14279   211   161    184  15638   30473  2019-01    아시아
7      인도네시아   14183   136    38    187   4298   18842  2019-01    아시아
8       싱가포르    8372    94     8     48   1333    9855  2019-01    아시아
9        미얀마    1304    10    31     67   3877    5289  2019-01    아시아
10       베트남   10739   763   110   1667   6904   20183  2019-01    아시아
11        인도    2318  2656    46    177   3474    8671  2019-01    아시아
12      스리랑카     157    54     5     28   1043    1287  2019-01    아시아
13      파키스탄     238   178    10    193    413    1032  2019-01    아시아
14     방글라데시     149   126    27     97    848    1247  2019-01    아시아
15      캄보디아     635    39    55     51   1915    2695  2019-01    아시아
16        몽골    8358    77   304    484    562    9785  2019-01    아시아
17        중국  320113  2993   138   8793  60777  392814  2019-01    아시아
18        이란      60    45    10     23     46     184  2019-01    아시아
19      이스라엘     727    12     0      9     57     805  2019-01    아시아
20        터키     792    13    32     36    912    1785  2019-01    아시아
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01    아시아
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01    아시아
23       GCC    1550    37    14     72    103    1776  2019-01    아시아
24    아시아 기타    1561   308    70    205   2410    4554  2019-01    아시아
25        미국   42989   418  2578    229  16523   62737  2019-01   아메리카
26       캐나다    8034    57    30     43   4296   12460  2019-01   아메리카
27       멕시코    1282    11     7     38    515    1853  2019-01   아메리카
28       브라질    1136    16     9     41    403    1605  2019-01   아메리카
29     미주 기타    1541    24    33    128    540    2266  2019-01   아메리카
30        영국    7982   175    17     41   1933   10148  2019-01     유럽
31        독일    4925   278    19    177   1451    6850  2019-01     유럽
32       프랑스    3773   297    48    288   1168    5574  2019-01     유럽
33      네덜란드    1592    47    16     77    537    2269  2019-01     유럽
34       스웨덴     844    29     6     18     85     982  2019-01     유럽
35       스위스     613    18     0     19     97     747  2019-01     유럽
36      이탈리아    1968    83    17     40    623    2731  2019-01     유럽
37       덴마크     520    21     6     16    188     751  2019-01     유럽
38      노르웨이     552    66     4     28    151     801  2019-01     유럽
39       벨기에     490    24     4     22    169     709  2019-01     유럽
40     오스트리아     544     8     2     13    209     776  2019-01     유럽
41       스페인    1010    36    15     52    255    1368  2019-01     유럽
42       그리스     481    17     4      0    273     775  2019-01     유럽
43      포르투갈     416    14     0     13    121     564  2019-01     유럽
44       핀란드     412    23     1     18    405     859  2019-01     유럽
45      아일랜드     392    15     1      2    185     595  2019-01     유럽
46     우크라이나     593    58     3     28   1580    2262  2019-01     유럽
47       러시아   17260   181    37    191   7525   25194  2019-01     유럽
48     크로아티아     226    12     0      3    250     491  2019-01     유럽
49      루마니아     412     8     4      3    445     872  2019-01     유럽
50      불가리아     154     1     1     10    265     431  2019-01     유럽
51       폴란드     713    10     0     27    574    1324  2019-01     유럽
52     구주 기타    1809    44    25     91    996    2965  2019-01     유럽
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01  오세아니아
54      뉴질랜드    2029    20    17      5    654    2725  2019-01  오세아니아
55    대양주 기타     555     3     4      0     52     614  2019-01  오세아니아
56  남아프리카공화국     368     9     1      6    616    1000  2019-01   아프리카
57   아프리카 기타     768   718    90    206    908    2690  2019-01   아프리카
58      국적미상      33     4     0      1     16      54  2019-01   기타대륙
59        교포       0     0     0      0  15526   15526  2019-01     교포

In [117]:
# 자동화

# 국가별로 관광을 통해서 우리나라에 들어오는 비율을 알아내서 컬럼으로 만들어 볼까?
# 국가별 관광/계 를 이용하여 '관광객 비율(%)' 이름으로 넣기
# 비율은 소수점 1자리 까지만 넣기

kto_201901_contry_newindex['관광객 비율(%)'] = \
round((kto_201901_contry_newindex['관광'] / kto_201901_contry_newindex['계']) * 100, 1)
kto_201901_contry_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0

In [124]:
# 자동화

# 전세계 관광객 임국객수 대비 국가별 관광객 비율을 계산하여 컬럼생성
# 컬럼명 : 전체비율(%)
# 답 : 각국가 관광객수 / 전체관광객수 *100
# 소수점 1자리까지
kto_201901_contry_newindex['전체비율(%)'] = \
round(kto_201901_contry_newindex['관광'] / kto_201901_contry_newindex['관광'].sum() * 100, 1)
kto_201901_contry_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5,0.3
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3,3.8
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3,2.2
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9,1.6
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3,1.6
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0,0.9
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7,0.1
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2,1.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7,0.3
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2,0.0
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9,0.0
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6,0.1
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4,0.9
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5,36.2
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6,0.0
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3,0.1
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4,0.1
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0,0.2
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1,0.2
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3,0.2
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3,0.2
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5,4.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5,0.9
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2,0.1
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8,0.1
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0,0.2
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7,0.9
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9,0.6
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7,0.4
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2,0.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9,0.1
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1,0.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1,0.2
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2,0.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9,0.1
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1,0.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1,0.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8,0.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1,0.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8,0.0
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0,0.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9,0.0
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2,0.1
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5,2.0
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0,0.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2,0.0
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7,0.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9,0.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0,0.2
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6,1.4
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5,0.2
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4,0.1
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8,0.0
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6,0.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0,0.0

In [133]:
# 국가별로 우리나라에 관광을 위해서 들어오는 비율이 가장 높은 5개 국가만 조회...
kto_201901_contry_newindex.sort_values('전체비율(%)', ascending = False).head()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%),전체비율(%)
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5,36.2
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5,4.9
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9

In [150]:
title = list()
title

[]

In [151]:
# 201001 ~ 201912 까지의
# 파일명 자동생성하기
# kto_yyyymm.xlsx형태로 출력해 보세요
# 년도 4자리, 월 2자리 입니다.
# 또는 for n in range(2010,2020): 써도 좋음

for n in range(0,10):
    for m in range(1,13):
        title.append('kto_201' + str(n) + str(m).zfill(2))
        
title

['kto_201001',
 'kto_201002',
 'kto_201003',
 'kto_201004',
 'kto_201005',
 'kto_201006',
 'kto_201007',
 'kto_201008',
 'kto_201009',
 'kto_201010',
 'kto_201011',
 'kto_201012',
 'kto_201101',
 'kto_201102',
 'kto_201103',
 'kto_201104',
 'kto_201105',
 'kto_201106',
 'kto_201107',
 'kto_201108',
 'kto_201109',
 'kto_201110',
 'kto_201111',
 'kto_201112',
 'kto_201201',
 'kto_201202',
 'kto_201203',
 'kto_201204',
 'kto_201205',
 'kto_201206',
 'kto_201207',
 'kto_201208',
 'kto_201209',
 'kto_201210',
 'kto_201211',
 'kto_201212',
 'kto_201301',
 'kto_201302',
 'kto_201303',
 'kto_201304',
 'kto_201305',
 'kto_201306',
 'kto_201307',
 'kto_201308',
 'kto_201309',
 'kto_201310',
 'kto_201311',
 'kto_201312',
 'kto_201401',
 'kto_201402',
 'kto_201403',
 'kto_201404',
 'kto_201405',
 'kto_201406',
 'kto_201407',
 'kto_201408',
 'kto_201409',
 'kto_201410',
 'kto_201411',
 'kto_201412',
 'kto_201501',
 'kto_201502',
 'kto_201503',
 'kto_201504',
 'kto_201505',
 'kto_201506',
 'kto_201507',
 'kto_201508',
 'kto_201509',
 'kto_201510',
 'kto_201511',
 'kto_201512',
 'kto_201601',
 'kto_201602',
 'kto_201603',
 'kto_201604',
 'kto_201605',
 'kto_201606',
 'kto_201607',
 'kto_201608',
 'kto_201609',
 'kto_201610',
 'kto_201611',
 'kto_201612',
 'kto_201701',
 'kto_201702',
 'kto_201703',
 'kto_201704',
 'kto_201705',
 'kto_201706',
 'kto_201707',
 'kto_201708',
 'kto_201709',
 'kto_201710',
 'kto_201711',
 'kto_201712',
 'kto_201801',
 'kto_201802',
 'kto_201803',
 'kto_201804',
 'kto_201805',
 'kto_201806',
 'kto_201807',
 'kto_201808',
 'kto_201809',
 'kto_201810',
 'kto_201811',
 'kto_201812',
 'kto_201901',
 'kto_201902',
 'kto_201903',
 'kto_201904',
 'kto_201905',
 'kto_201906',
 'kto_201907',
 'kto_201908',
 'kto_201909',
 'kto_201910',
 'kto_201911',
 'kto_201912']

In [199]:
for yy in range(2010,2020):
    for mm in range(1,13):
        file_path = '.files/kto{}{}.xlsx'.format(yy,str(mm).zfill(2))
        df = pd.read_excel(path, header = 1,
              skipfooter = 4,  # 아래에서 행 제거
              usecols = 'A:G') # 읽어들일 컬럼 선택
        print(len(df))

67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67

In [2]:
for yy in range(2010, 2020) :
    for mm in range(1, 13) :
        file_path = "./files/kto_{}{}.xlsx".format(yy, str(mm).zfill(2))
        df = pd.read_excel(file_path, header=1, skipfooter=4, usecols="A:G")
        
        df["기준년월"] = "{}-{}".format(yy, str(mm).zfill(2))
        
        continents_list = ["아시아주", "미주", "구주", "대양주",
                    "아프리카주", "기타대륙", "교포소계"]
        
        condition = df["국적"].isin(continents_list)
        df_country = df[condition == False]
        df_country_newindex = df_country.reset_index(drop=True)
        
        # 아시아(25), 아메리카(5), 유럽(23), 오세아니아(3), 
        # 아프리카(2), 기타대륙, 교포
        continents = ["아시아"] * 25 + ["아메리카"] * 5 + ["유럽"] * 23  \
                 + ["오세아니아"] * 3 + ["아프리카"] * 2 + ["기타대륙"] + ["교포"]
        
        df_country_newindex["대륙"] = continents
        df_country_newindex["관광객비율(%)"] = \
                                    round(df_country_newindex["관광"] / \
                                          df_country_newindex["계"] * 100, 1)
        df_country_newindex["전체비율(%)"] = \
                round(df_country_newindex["관광"] / \
                      sum(df_country_newindex["관광"]) * 100, 1)
        
        print(df_country_newindex.head(1))

   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  202825  1750  89    549  3971  209184  2010-01  아시아      97.0     50.6
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  224475  1455  63   1172  3197  230362  2010-02  아시아      97.4     50.3
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  299820  1483  124    519  4180  306126  2010-03  아시아      97.9     55.0
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  233697  1282  74    154  3868  239075  2010-04  아시아      97.8     43.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  233311  1480  150    216  6538  241695  2010-05  아시아      96.5     44.4
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  226786  1236  81    358  3257  231718  2010-06  아시아      97.9     43.6
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  221590  1279  76    323  4273  227541  2010-07  아시아      97.4     41.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  254178  1616  103   1238  5022  262157  2010-08  아시아      97.0     43.8
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  259846  1791  147    576  5526  267886  2010-09  아시아      97.0     47.5
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  295488  1270  85    199  5528  302570  2010-10  아시아      97.7     44.9
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  268947  1370  153    231  4188  274889  2010-11  아시아      97.8     48.2
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  224684  1325  61    231  3505  229806  2010-12  아시아      97.8     44.9
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  189601  1697  115    557  4331  196301  2011-01  아시아      96.6     47.4
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  213970  1828  70   1310  4140  221318  2011-02  아시아      96.7     49.7
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  262003  1364  102    525  4361  268355  2011-03  아시아      97.6     48.6
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  213645  1271  52    224  4950  220142  2011-04  아시아      97.0     39.3
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  229017  1614  58    274  3663  234626  2011-05  아시아      97.6     42.7
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  249397  1482  72    428  3493  254872  2011-06  아시아      97.9     42.5
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  269455  1422  69    375  3996  275317  2011-07  아시아      97.9     40.3
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  315693  1773  92   1411  6958  325927  2011-08  아시아      96.9     44.0
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  312686  1836  72    653  5984  321231  2011-09  아시아      97.3     46.3
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  332700  1513  111    277  5571  340172  2011-10  아시아      97.8     43.3
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  325057  1513  347    286  4518  331721  2011-11  아시아      98.0     48.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  293435  1444  111    383  3696  299069  2011-12  아시아      98.1     44.4
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  235585  2456  141    757  5431  244370  2012-01  아시아      96.4     42.3
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  287950  1288  117   1105  3857  294317  2012-02  아시아      97.8     50.1
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  353455  1718  171    946  4429  360719  2012-03  아시아      98.0     49.7
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  291877  1510  127    247  4895  298656  2012-04  아시아      97.7     37.7
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  306488  1914  125    377  7694  316598  2012-05  아시아      96.8     41.8
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  296274  1492  103    627  3887  302383  2012-06  아시아      98.0     39.2
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  291787  1573  86    427  5604  299477  2012-07  아시아      97.4     35.9
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  334318  1940  132   1456  9104  346950  2012-08  아시아      96.4     39.1
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  301543  1349  125    916  4949  308882  2012-09  아시아      97.6     39.3
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  259529  2317  463    409  7014  269732  2012-10  아시아      96.2     32.7
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  243495  1633  181    358  3814  249481  2012-11  아시아      97.6     36.7
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  220917  1607  68    450  4185  227227  2012-12  아시아      97.2     33.3
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  198320  2285  127    941  4801  206474  2013-01  아시아      96.1     34.7
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  209621  1902  94   1467  4069  217153  2013-02  아시아      96.5     34.5
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  280541  1957  146    976  5280  288900  2013-03  아시아      97.1     37.1
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  194611  1612  110    299  5897  202529  2013-04  아시아      96.1     26.8
   국적      관광    상용  공용  유학/연수     기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  205412  3997  64    416  13047  222936  2013-05  아시아      92.1     31.2
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  191995  2121  90    633  6324  201163  2013-06  아시아      95.4     25.3
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  200452  1921  89    417  5340  208219  2013-07  아시아      96.3     23.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  258870  2470  100   1760  7382  270582  2013-08  아시아      95.7     26.2
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  234591  3054  171    902  8208  246926  2013-09  아시아      95.0     27.5
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  235183  2028  513    292  7005  245021  2013-10  아시아      96.0     28.1
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  215737  2085  134    446  4395  222797  2013-11  아시아      96.8     30.4
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  208626  1860  115    427  4022  215050  2013-12  아시아      97.0     28.5
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  164038  2564  81    720  4674  172077  2014-01  아시아      95.3     25.6
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  181307  2585  90   1629  4111  189722  2014-02  아시아      95.6     28.2
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  239575  2315  183    851  4338  247262  2014-03  아시아      96.9     27.7
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  169382  1819  149    243  8000  179593  2014-04  아시아      94.3     17.3
   국적      관광    상용  공용  유학/연수     기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  184996  3780  92    391  12230  201489  2014-05  아시아      91.8     19.4
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  164438  2230  146    574  5668  173056  2014-06  아시아      95.0     17.4
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  164741  1837  108    385  5356  172427  2014-07  아시아      95.5     16.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  198068  2506  163   1778  5632  208147  2014-08  아시아      95.2     18.3

   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  186840  2476  216    629  6145  196306  2014-09  아시아      95.2     19.9
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  182575  2074  481    294  4911  190335  2014-10  아시아      95.9     17.3
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  172285  2155  189    383  4521  179533  2014-11  아시아      96.0     19.1
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  164921  1658  128    392  3388  170487  2014-12  아시아      96.7     18.6
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  131909  2606  110    695  4312  139632  2015-01  아시아      94.5     18.2
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  134366  2464  96   1674  3987  142587  2015-02  아시아      94.2     16.5
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  211846  1958  186    824  4118  218932  2015-03  아시아      96.8     22.1
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  147108  1774  200    260  5060  154402  2015-04  아시아      95.3     13.2
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  176044  2428  132    336  9480  188420  2015-05  아시아      93.4     16.6
   국적     관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  93726  1770  149    504  5057  101206  2015-06  아시아      92.6     18.1
   국적     관광    상용   공용  유학/연수    기타      계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  74890  1820  118    370  4550  81748  2015-07  아시아      91.6     17.9
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  137125  2491  131   1788  7097  148632  2015-08  아시아      92.3     18.8
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  150080  2261  147    694  4131  157313  2015-09  아시아      95.4     16.5
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  172411  2064  280    251  5342  180348  2015-10  아시아      95.6     16.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  158383  2030  533    393  3346  164685  2015-11  아시아      96.2     17.4
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  154643  1734  88    411  3001  159877  2015-12  아시아      96.7     17.2
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  129290  2617  139    762  4076  136884  2016-01  아시아      94.5     14.9
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  136324  2323  80   1892  3874  144493  2016-02  아시아      94.3     16.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  217623  2022  156    598  3929  224328  2016-03  아시아      97.0     19.4
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  169211  1779  153    204  3936  175283  2016-04  아시아      96.5     13.9
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  171675  2246  89    499  4226  178735  2016-05  아시아      96.1     14.3
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  173883  1960  167    473  3709  180192  2016-06  아시아      96.5     13.6
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  179569  1981  139    471  4034  186194  2016-07  아시아      96.4     12.8
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  215859  2273  183   1974  5167  225456  2016-08  아시아      95.7     16.4
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  200876  2357  159    739  4628  208759  2016-09  아시아      96.2     16.7
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  220409  1963  291    315  4171  227149  2016-10  아시아      97.0     16.9
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  206968  1931  150    431  3731  213211  2016-11  아시아      97.1     19.2
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  191412  1768  115    432  3482  197209  2016-12  아시아      97.1     17.4
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  146111  2948  91    776  4936  154862  2017-01  아시아      94.3     14.9
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  177671  1677  103   1934  3647  185032  2017-02  아시아      96.0     18.6
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  267416  2042  121    805  4094  274478  2017-03  아시아      97.4     27.6
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  159263  1604  118    339  4424  165748  2017-04  아시아      96.1     18.6
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  151502  2395  109    670  4703  159379  2017-05  아시아      95.1     20.5
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  161395  1739  106    635  3910  167785  2017-06  아시아      96.2     20.8
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  163712  1955  118    521  4328  170634  2017-07  아시아      95.9     20.9
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  216683  2261  198   2189  5404  226735  2017-08  아시아      95.6     26.5
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  213446  1535  220    675  4092  219968  2017-09  아시아      97.0     25.4
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  171182  2613  229    612  5025  179661  2017-10  아시아      95.3     19.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  207088  1897  170    486  3819  213460  2017-11  아시아      97.0     23.5
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  187745  1706  132    480  3642  193705  2017-12  아시아      96.9     20.3
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  159174  2357  138    842  4572  167083  2018-01  아시아      95.3     21.4
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  159831  1966  144   1898  4402  168241  2018-02  아시아      95.0     20.2
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  287578  1896  214    890  3898  294476  2018-03  아시아      97.7     26.5
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  207727  1707  117    300  4002  213853  2018-04  아시아      97.1     19.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  220375  2214  115    568  3958  227230  2018-05  아시아      97.0     22.2
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  228667  1752  116    709  4049  235293  2018-06  아시아      97.2     21.7
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  224273  1833  203    567  3636  230512  2018-07  아시아      97.3     21.8
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  306108  2076  136   2220  4485  315025  2018-08  아시아      97.2     27.8
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  240457  2182  208   1049  3951  247847  2018-09  아시아      97.0     23.7
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  283494  1877  557    404  4136  290468  2018-10  아시아      97.6     22.3
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  293965  1810  159    514  3530  299978  2018-11  아시아      98.0     26.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  252461  1698  161    608  3593  258521  2018-12  아시아      97.7     22.7
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  198805  2233  127    785  4576  206526  2019-01  아시아      96.3     22.5
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  204697  2125  119   2084  4175  213200  2019-02  아시아      96.0     22.5
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  367157  2108  126   1231  4497  375119  2019-03  아시아      97.9     29.3

   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  283101  1584  126    333  4948  290092  2019-04  아시아      97.6     20.5
   국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  279174  2019  91    715  4274  286273  2019-05  아시아      97.5     22.6
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  275286  1901  136    771  4382  282476  2019-06  아시아      97.5     22.2
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  267816  1855  149    694  4316  274830  2019-07  아시아      97.4     22.0
   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  전체비율(%)
0  일본  318985  2195  165   2957  5350  329652  2019-08  아시아      96.8     25.5

FileNotFoundError: [Errno 2] No such file or directory: './files/kto_201909.xlsx'

In [312]:
# del(df_result)
# df_result = list()
df_all = pd.DataFrame()
for yy in range(2010, 2020) :
    for mm in range(1, 13) :
        try:
            file_path = "./files/kto_{}{}.xlsx".format(yy, str(mm).zfill(2))
            df = pd.read_excel(file_path, header=1, skipfooter=4, usecols="A:G")

            #df["기준년월"] = "2019-01"
            df["기준년월"] = "{}-{}".format(yy, str(mm).zfill(2))

            continents_list = ["아시아주", "미주", "구주", "대양주",
                        "아프리카주", "기타대륙", "교포소계"]

            condition = df["국적"].isin(continents_list)
            df_country = df[condition == False]
            df_country_newindex = df_country.reset_index(drop=True)

            # 아시아(25), 아메리카(5), 유럽(23), 오세아니아(3), 
            # 아프리카(2), 기타대륙, 교포
            continents = ["아시아"] * 25 + ["아메리카"] * 5 + ["유럽"] * 23  \
                     + ["오세아니아"] * 3 + ["아프리카"] * 2 + ["기타대륙"] + ["교포"]

            df_country_newindex["대륙"] = continents
            df_country_newindex["관광객비율(%)"] = \
                                        round(df_country_newindex["관광"] / \
                                              df_country_newindex["계"] * 100, 1)
            df_country_newindex["전체비율(%)"] = \
                    round(df_country_newindex["관광"] / \
                          sum(df_country_newindex["관광"]) * 100, 1)
            
            df_all = df_all.append(df_country_newindex, ignore_index=True)
        
        except:
            pass
len(df_all)

6960

In [328]:
# 함수로 만들기
# 함수이름 ㅣ create_kto_data
def create_kto_data():
    df_all = pd.DataFrame()
    for yy in range(2010, 2020) :
        for mm in range(1, 13) :
            try:
                file_path = "./files/kto_{}{}.xlsx".format(yy, str(mm).zfill(2))
                df = pd.read_excel(file_path, header=1, skipfooter=4, usecols="A:G")

                #df["기준년월"] = "2019-01"
                df["기준년월"] = "{}-{}".format(yy, str(mm).zfill(2))

                continents_list = ["아시아주", "미주", "구주", "대양주",
                            "아프리카주", "기타대륙", "교포소계"]

                condition = df["국적"].isin(continents_list)
                df_country = df[condition == False]
                df_country_newindex = df_country.reset_index(drop=True)

                # 아시아(25), 아메리카(5), 유럽(23), 오세아니아(3), 
                # 아프리카(2), 기타대륙, 교포
                continents = ["아시아"] * 25 + ["아메리카"] * 5 + ["유럽"] * 23  \
                         + ["오세아니아"] * 3 + ["아프리카"] * 2 + ["기타대륙"] + ["교포"]

                df_country_newindex["대륙"] = continents
                df_country_newindex["관광객비율(%)"] = \
                                            round(df_country_newindex["관광"] / \
                                                  df_country_newindex["계"] * 100, 1)
                df_country_newindex["전체비율(%)"] = \
                        round(df_country_newindex["관광"] / \
                              sum(df_country_newindex["관광"]) * 100, 1)

                df_all = df_all.append(df_country_newindex, ignore_index=True)

            except:
                pass
        print(len(df_all))

In [365]:
create_kto_data()

720
1440
2160
2880
3600
4320
5040
5760
6480
6960

In [3]:
# 반복문 안에서 # 합치지는 못하고 떨어진 상태로 진행
# 16개의 파일 불러오기
# 파일을 하나씩 불러온 후 df1라는 데이터 프레임 변수에 저장 후
# len(df1)로 가각의 행의 갯수를 출력하게 해주세요. 
# 이미 df1=list() 로 만들어 주고 이미 들어가 있으니 재실행 ㄴㄴ
# 재실행 했으면 del(df1)
# del(df1)
df1_all = pd.DataFrame()
continents_list = ["아시아주", "미주", "구주", "대양주",
                            "아프리카주", "기타대륙", "교포소계"]
for n in title[:-4]:
    path = './files/' + n + '.xlsx'
    df1 = pd.read_excel(path, header = 1,
            skipfooter = 4,  # 아래에서 행 제거
            usecols = 'A:G') # 읽어들일 컬럼 선택
    # 미리 append를 써버리면 데이터가 7000개쯤 쌓여서 데이터 추가할때 힘들어진다
    # 아래의 continents 같은 경우를 말함
    # 미리 append를 한다면 조건문으로 달아줘야할듯
    df1['기준년월'] = n[4:8] + '-' + n[8:]
    
    condition1 = df1["국적"].isin(continents_list)
    df1_country = df1[condition1 == False]
    df1_country_newindex = df1_country.reset_index(drop=True)
    
    continents1 = ["아시아"] * 25 + ["아메리카"] * 5 + ["유럽"] * 23  \
                + ["오세아니아"] * 3 + ["아프리카"] * 2 + ["기타대륙"] + ["교포"]
    
    df1_country_newindex["대륙"] = continents1
    
    df1_country_newindex["관광객비율(%)"] = \
        round(df1_country_newindex["관광"] / \
        df1_country_newindex["계"] * 100, 1)
    
    df1_country_newindex["전체비율(%)"] = \
        round(df1_country_newindex["관광"] / \
        sum(df1_country_newindex["관광"]) * 100, 1)

    df1_all = df1_all.append(df1_country_newindex, ignore_index=True)
    
len(df1_all)

NameError: name 'title' is not defined

In [375]:
df1_all.describe()

,관광,상용,공용,유학/연수,기타,계,관광객비율(%),전체비율(%)
count,6960.000000,6960.000000,6960.000000,6960.000000,6960.000000,6960.000000,6960.000000,6960.000000
mean,14151.834914,310.131178,61.251149,303.418822,3383.024713,18209.660776,62.111940,1.665259
std,52351.026147,1043.723255,250.858698,2116.778318,10269.311046,62120.322558,24.763823,5.915490
min,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000
25%,500.000000,17.000000,1.000000,7.000000,219.000000,953.000000,44.300000,0.100000
50%,1218.500000,50.000000,5.000000,26.000000,611.000000,2235.500000,68.600000,0.100000
75%,5805.000000,225.250000,25.000000,85.000000,1854.250000,9773.750000,80.700000,0.700000
max,823016.000000,25012.000000,3763.000000,44291.000000,137898.000000,917519.000000,100.000000,58.600000

In [378]:
df1_all['대륙'].unique()

array(['아시아', '아메리카', '유럽', '오세아니아', '아프리카', '기타대륙', '교포'], dtype=object)

In [381]:
# 최종 전처리 데이터 저장하기
# 파일이름 : kto_total.xslx
df_all.to_excel('./files/kto_total.xlsx', index = False)

In [264]:
df1

[         국적      관광     상용   공용  유학/연수     기타       계     기준년월
 0      아시아주  329131  18238  421   4339  80916  433045  2010-01
 1        일본  202825   1750   89    549   3971  209184  2010-01
 2        대만   35788     41   17     37    516   36399  2010-01
 3        홍콩   13874     55    0     21    595   14545  2010-01
 4       마카오     554      0    0      0      0     554  2010-01
 ..      ...     ...    ...  ...    ...    ...     ...      ...
 62  아프리카 기타     349    594   25     86    296    1350  2010-01
 63     기타대륙      10      3    0      0      0      13  2010-01
 64     국적미상      10      3    0      0      0      13  2010-01
 65     교포소계       0      0    0      0  22537   22537  2010-01
 66       교포       0      0    0      0  22537   22537  2010-01

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수     기타       계     기준년월
 0      아시아주  383125  13711  364  33910  84396  515506  2010-02
 1        일본  224475   1455   63   1172   3197  230362  2010-02
 2        대만   35758     45   18    234    596   36651  2010-02
 3        홍콩   22462     47    0     65    477   23051  2010-02
 4       마카오     916      0    0      2      0     918  2010-02
 ..      ...     ...    ...  ...    ...    ...     ...      ...
 62  아프리카 기타     413    588   25    147    301    1474  2010-02
 63     기타대륙       6      0    0      1      3      10  2010-02
 64     국적미상       6      0    0      1      3      10  2010-02
 65     교포소계       0      0    0      0  21338   21338  2010-02
 66       교포       0      0    0      0  21338   21338  2010-02

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  448566  21479  577  17065  114342  602029  2010-03
 1        일본  299820   1483  124    519    4180  306126  2010-03
 2        대만   27050     45   12     93     694   27894  2010-03
 3        홍콩   17226     81    1     21     595   17924  2010-03
 4       마카오     434      0    0      1       0     435  2010-03
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타     736    826   90    132     533    2317  2010-03
 63     기타대륙      20      1    0      0       0      21  2010-03
 64     국적미상      20      1    0      0       0      21  2010-03
 65     교포소계       0      0    0      0   27781   27781  2010-03
 66       교포       0      0    0      0   27781   27781  2010-03

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수     기타       계     기준년월
 0      아시아주  441816  20886  634   2697  95195  561228  2010-04
 1        일본  233697   1282   74    154   3868  239075  2010-04
 2        대만   32835     38    8     26    611   33518  2010-04
 3        홍콩   19382     67    3     12    753   20217  2010-04
 4       마카오     473      0    0      0      0     473  2010-04
 ..      ...     ...    ...  ...    ...    ...     ...      ...
 62  아프리카 기타     695    670   58     32    437    1892  2010-04
 63     기타대륙      14      1    0      0      0      15  2010-04
 64     국적미상      14      1    0      0      0      15  2010-04
 65     교포소계       0      0    0      0  27697   27697  2010-04
 66       교포       0      0    0      0  27697   27697  2010-04

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  423953  20166  926   3585  105845  554475  2010-05
 1        일본  233311   1480  150    216    6538  241695  2010-05
 2        대만   32405     40    8     38     835   33326  2010-05
 3        홍콩   15552     62    4     15     751   16384  2010-05
 4       마카오     347      0    0      0       1     348  2010-05
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타     919    638  155     23     441    2176  2010-05
 63     기타대륙      19      2    0      0       1      22  2010-05
 64     국적미상      19      2    0      0       1      22  2010-05
 65     교포소계       0      0    0      0   27460   27460  2010-05
 66       교포       0      0    0      0   27460   27460  2010-05

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  414268  19730  766   4325  100708  539797  2010-06
 1        일본  226786   1236   81    358    3257  231718  2010-06
 2        대만   32156     60    6     59     546   32827  2010-06
 3        홍콩   16918     51    1     22     657   17649  2010-06
 4       마카오     556      0    0      1       0     557  2010-06
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타     981    648   87     46     416    2178  2010-06
 63     기타대륙       8      1    0      0       0       9  2010-06
 64     국적미상       8      1    0      0       0       9  2010-06
 65     교포소계       0      0    0      0   28956   28956  2010-06
 66       교포       0      0    0      0   28956   28956  2010-06

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  439238  17272  599   5655  116574  579338  2010-07
 1        일본  221590   1279   76    323    4273  227541  2010-07
 2        대만   35086     37    1     52     775   35951  2010-07
 3        홍콩   19599     42    3      8     806   20458  2010-07
 4       마카오     532      0    0      0       1     533  2010-07
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타     901    588   69     68     375    2001  2010-07
 63     기타대륙      15      1    0      0       1      17  2010-07
 64     국적미상      15      1    0      0       1      17  2010-07
 65     교포소계       0      0    0      0   28148   28148  2010-07
 66       교포       0      0    0      0   28148   28148  2010-07

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  491695  18378  677  31861  119853  662464  2010-08
 1        일본  254178   1616  103   1238    5022  262157  2010-08
 2        대만   37078     57    5    329     592   38061  2010-08
 3        홍콩   20053     61    0    114     768   20996  2010-08
 4       마카오     962      1    0      2       1     966  2010-08
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타     770    525   53    234     541    2123  2010-08
 63     기타대륙       8      0    0      0       2      10  2010-08
 64     국적미상       8      0    0      0       2      10  2010-08
 65     교포소계       0      0    0      0   26298   26298  2010-08
 66       교포       0      0    0      0   26298   26298  2010-08

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  450210  17665  755  13537  114180  596347  2010-09
 1        일본  259846   1791  147    576    5526  267886  2010-09
 2        대만   31511     43    5    105     620   32284  2010-09
 3        홍콩   13404     39    0     22     841   14306  2010-09
 4       마카오     385      1    0      3       2     391  2010-09
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타     988    567   57     91     380    2083  2010-09
 63     기타대륙      10      3    0      0       1      14  2010-09
 64     국적미상      10      3    0      0       1      14  2010-09
 65     교포소계       0      0    0      0   26715   26715  2010-09
 66       교포       0      0    0      0   26715   26715  2010-09

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  538103  20162  932   3852  113231  676280  2010-10
 1        일본  295488   1270   85    199    5528  302570  2010-10
 2        대만   39087     55    1     36     650   39829  2010-10
 3        홍콩   21148     62    0      8     809   22027  2010-10
 4       마카오     812      0    0      0       1     813  2010-10
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타    1075    921  103     25     473    2597  2010-10
 63     기타대륙      21      1    0      0       3      25  2010-10
 64     국적미상      21      1    0      0       3      25  2010-10
 65     교포소계       0      0    0      0   29508   29508  2010-10
 66       교포       0      0    0      0   29508   29508  2010-10

 [67 rows x 8 columns],
          국적      관광     상용    공용  유학/연수     기타       계     기준년월
 0      아시아주  465380  20016  1161   2956  90760  580273  2010-11
 1        일본  268947   1370   153    231   4188  274889  2010-11
 2        대만   34557     34     1     44    455   35091  2010-11
 3        홍콩   18845     64     1     11    697   19618  2010-11
 4       마카오     913      0     0      0      1     914  2010-11
 ..      ...     ...    ...   ...    ...    ...     ...      ...
 62  아프리카 기타     904    828   147     20    403    2302  2010-11
 63     기타대륙      11      0     0      0      4      15  2010-11
 64     국적미상      11      0     0      0      4      15  2010-11
 65     교포소계       0      0     0      0  26142   26142  2010-11
 66       교포       0      0     0      0  26142   26142  2010-11

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수     기타       계     기준년월
 0      아시아주  422740  16303  461   4340  93888  537732  2010-12
 1        일본  224684   1325   61    231   3505  229806  2010-12
 2        대만   23851     44    1     84    541   24521  2010-12
 3        홍콩   20595     50    0     33    729   21407  2010-12
 4       마카오    1226      1    0      1      0    1228  2010-12
 ..      ...     ...    ...  ...    ...    ...     ...      ...
 62  아프리카 기타     488    578   37     26    501    1630  2010-12
 63     기타대륙      21      0    0      0      0      21  2010-12
 64     국적미상      21      0    0      0      0      21  2010-12
 65     교포소계       0      0    0      0  26914   26914  2010-12
 66       교포       0      0    0      0  26914   26914  2010-12

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수     기타       계     기준년월
 0      아시아주  328100  15077  389   4051  98868  446485  2011-01
 1        일본  189601   1697  115    557   4331  196301  2011-01
 2        대만   24653     25    0     51    662   25391  2011-01
 3        홍콩   14083     36    0     21    785   14925  2011-01
 4       마카오     508      0    0      0      0     508  2011-01
 ..      ...     ...    ...  ...    ...    ...     ...      ...
 62  아프리카 기타     440    694   32     83    436    1685  2011-01
 63     기타대륙       3      0    0      0      2       5  2011-01
 64     국적미상       3      0    0      0      2       5  2011-01
 65     교포소계       0      0    0      0  22658   22658  2011-01
 66       교포       0      0    0      0  22658   22658  2011-01

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  364035  13540  318  40393  114481  532767  2011-02
 1        일본  213970   1828   70   1310    4140  221318  2011-02
 2        대만   23463     49    8    316     635   24471  2011-02
 3        홍콩   21075     28    0     72     583   21758  2011-02
 4       마카오     679      0    0      0       1     680  2011-02
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타     485    579   31    221     508    1824  2011-02
 63     기타대륙       9      0    0      0       1      10  2011-02
 64     국적미상       9      0    0      0       1      10  2011-02
 65     교포소계       0      0    0      0   21519   21519  2011-02
 66       교포       0      0    0      0   21519   21519  2011-02

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  445711  16586  480  14877  133156  610810  2011-03
 1        일본  262003   1364  102    525    4361  268355  2011-03
 2        대만   24907     44    5     99     777   25832  2011-03
 3        홍콩   17752     41    0     34     728   18555  2011-03
 4       마카오     553      0    0      1       0     554  2011-03
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타     625    540   34    113     600    1912  2011-03
 63     기타대륙       8      1    0      0       0       9  2011-03
 64     국적미상       8      1    0      0       0       9  2011-03
 65     교포소계       0      0    0      0   30429   30429  2011-03
 66       교포       0      0    0      0   30429   30429  2011-03

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  436265  16562  528   3474  118647  575476  2011-04
 1        일본  213645   1271   52    224    4950  220142  2011-04
 2        대만   31169     75    0     35     703   31982  2011-04
 3        홍콩   25070     43    0      9     692   25814  2011-04
 4       마카오     638      1    0      1       1     641  2011-04
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타    1054    544   61     31     506    2196  2011-04
 63     기타대륙      16      0    0      0       0      16  2011-04
 64     국적미상      16      0    0      0       0      16  2011-04
 65     교포소계       0      0    0      0   28367   28367  2011-04
 66       교포       0      0    0      0   28367   28367  2011-04

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  427457  18076  646   4794  111812  562785  2011-05
 1        일본  229017   1614   58    274    3663  234626  2011-05
 2        대만   27611     93    1     44     852   28601  2011-05
 3        홍콩   18603     52    0     12     722   19389  2011-05
 4       마카오     448      0    0      0       3     451  2011-05
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타    1212    483   75     28     496    2294  2011-05
 63     기타대륙      11      0    0      0       1      12  2011-05
 64     국적미상      11      0    0      0       1      12  2011-05
 65     교포소계       0      0    0      0   27841   27841  2011-05
 66       교포       0      0    0      0   27841   27841  2011-05

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  482500  16702  696   5288  118898  624084  2011-06
 1        일본  249397   1482   72    428    3493  254872  2011-06
 2        대만   40344     52    1     90     805   41292  2011-06
 3        홍콩   24111     49    0     15     798   24973  2011-06
 4       마카오    1148      0    0      5      33    1186  2011-06
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타    1101    464   95     46     544    2250  2011-06
 63     기타대륙       3      0    0      0      31      34  2011-06
 64     국적미상       3      0    0      0      31      34  2011-06
 65     교포소계       0      0    0      0   28541   28541  2011-06
 66       교포       0      0    0      0   28541   28541  2011-06

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  564012  16034  627   6294  119101  706068  2011-07
 1        일본  269455   1422   69    375    3996  275317  2011-07
 2        대만   46240     50    3     47     858   47198  2011-07
 3        홍콩   25556     38    0      9     879   26482  2011-07
 4       마카오     985      0    0      0      10     995  2011-07
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타     935    534   29     82     485    2065  2011-07
 63     기타대륙      14      0    0      0      19      33  2011-07
 64     국적미상      14      0    0      0      19      33  2011-07
 65     교포소계       0      0    0      0   28389   28389  2011-07
 66       교포       0      0    0      0   28389   28389  2011-07

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  621058  15656  582  31243  128716  797255  2011-08
 1        일본  315693   1773   92   1411    6958  325927  2011-08
 2        대만   45863     64    6    356     946   47235  2011-08
 3        홍콩   25987     39    0    133     889   27048  2011-08
 4       마카오    1450      0    0      4      18    1472  2011-08
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타    1210    433   87    233     664    2627  2011-08
 63     기타대륙      10      0    0      0       3      13  2011-08
 64     국적미상      10      0    0      0       3      13  2011-08
 65     교포소계       0      0    0      0   27845   27845  2011-08
 66       교포       0      0    0      0   27845   27845  2011-08

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  575462  16526  776  14988  128094  735846  2011-09
 1        일본  312686   1836   72    653    5984  321231  2011-09
 2        대만   36209     66    4    126     800   37205  2011-09
 3        홍콩   17871     43    0     38     836   18788  2011-09
 4       마카오     949      1    0      1       6     957  2011-09
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타    1038    531   31     90     601    2291  2011-09
 63     기타대륙       9      3    0      0       1      13  2011-09
 64     국적미상       9      3    0      0       1      13  2011-09
 65     교포소계       0      0    0      0   28116   28116  2011-09
 66       교포       0      0    0      0   28116   28116  2011-09

 [67 rows x 8 columns],
          국적      관광     상용    공용  유학/연수      기타       계     기준년월
 0      아시아주  638621  17696  1197   4797  120167  782478  2011-10
 1        일본  332700   1513   111    277    5571  340172  2011-10
 2        대만   42980     66     0     37     919   44002  2011-10
 3        홍콩   26948     39     0      6     727   27720  2011-10
 4       마카오     839      0     0      0       2     841  2011-10
 ..      ...     ...    ...   ...    ...     ...     ...      ...
 62  아프리카 기타    1910    623   230     37     588    3388  2011-10
 63     기타대륙      16      3     3      0       0      22  2011-10
 64     국적미상      16      3     3      0       0      22  2011-10
 65     교포소계       0      0     0      0   29744   29744  2011-10
 66       교포       0      0     0      0   29744   29744  2011-10

 [67 rows x 8 columns],
          국적      관광     상용    공용  유학/연수      기타       계     기준년월
 0      아시아주  577150  17615  1246   3625  103459  703095  2011-11
 1        일본  325057   1513   347    286    4518  331721  2011-11
 2        대만   37560     54     5     45     832   38496  2011-11
 3        홍콩   24926     42     0     10     692   25670  2011-11
 4       마카오    1177      1     0      0       0    1178  2011-11
 ..      ...     ...    ...   ...    ...     ...     ...      ...
 62  아프리카 기타    1292    710   251     37     579    2869  2011-11
 63     기타대륙      20      1     0      0       0      21  2011-11
 64     국적미상      20      1     0      0       0      21  2011-11
 65     교포소계       0      0     0      0   26565   26565  2011-11
 66       교포       0      0     0      0   26565   26565  2011-11

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수     기타       계     기준년월
 0      아시아주  572133  13833  611   4928  97638  689143  2011-12
 1        일본  293435   1444  111    383   3696  299069  2011-12
 2        대만   35468     47    2     80    906   36503  2011-12
 3        홍콩   29033     24    1     27    642   29727  2011-12
 4       마카오    2181      0    0      1      2    2184  2011-12
 ..      ...     ...    ...  ...    ...    ...     ...      ...
 62  아프리카 기타     701    452   27     39    526    1745  2011-12
 63     기타대륙      14      0    0      0      1      15  2011-12
 64     국적미상      14      0    0      0      1      15  2011-12
 65     교포소계       0      0    0      0  27246   27246  2011-12
 66       교포       0      0    0      0  27246   27246  2011-12

 [67 rows x 8 columns],
          국적      관광     상용   공용  유학/연수      기타       계     기준년월
 0      아시아주  476976  11529  418   7753  106484  603160  2012-01
 1        일본  235585   2456  141    757    5431  244370  2012-01
 2        대만   41833     64   11     79     938   42925  2012-01
 3        홍콩   31524     28    0     26     628   32206  2012-01
 4       마카오    1578      0    0      0       0    1578  2012-01
 ..      ...     ...    ...  ...    ...     ...     ...      ...
 62  아프리카 기타     569    478   14    111     552    1724  2012-01
 63     기타대륙       6      1    0      0       0       7  2012-01
 64     국적미상       6      1    0      0       0       7  2012-01
 65     교포소계       0      0    0      0   23709   23709  2012-01