# 파이썬에서 데이터 조작하기

### 사용 라이브러리

In [2]:
import pandas as pd

# 그림 그리는 라이브러리
# seaborn과 연동되어 있는 모듈들
import matplotlib as mpl
import matplotlib.pylab as plt
# 내장 데이터 있음(tips같은 샘플 데이터)
import seaborn as sns

# 행의 위치 찾을 때 사용
# loc, iloc 같이 인덱스를 사용하여 행을 찾을때 사용하였음
import numpy as np

### 시리즈

In [4]:
# pandas 함수
# 시리즈 변수 만들기
pd.Series() 함수 사용
se1 = pd.Series(['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'],
               index = [1,2,6,4,5]) # 문자도 가능하다
se1

1       Dog
2       Cat
6     Tiger
4      Lion
5    Monkey
dtype: object

In [ ]:
# pd.Series()함수로 리스트 튜플 딕셔너리를 시리즈 형식으로 변경이 가능하다.

# dictionary to Series
dict_data = {'a' : 1, 'b' : 2, 'c' : 3}
# pd.Series() 함수 사용
dict_series = pd.Series(dict_data)


# Tuple to Series
tuple_data = ('이순신', '1991-03-15', '남자')
# pd.Series() 함수 사용
Tuple_series = pd.Series(Tuple_data)

dic_data = {'동물' : ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'],
                    '나이' : [7, 9, 2, 3, 1]}

# pd.Series() 함수 사용
Tuple_series = pd.Series(Tuple_data)